<table>
	<thead>
		<tr>
			<th scope="col">Index</th>
			<th scope="col">Artist</th>
			<th scope="col">Title</th>
			<th scope="col">Album</th>
			<th scope="col">Duration</th>
		</tr>
	</thead>
	<tbody>
		{% for track in tracks %}
			{% set track = track.track %}
			{% set artists = [] %}
			{% for artist in track.artists %}
				{% set artists = artists|merge([artist.name]) %}
			{% endfor %}
			<tr>
				<th scope="row">{{ loop.index }}</th>
				<th>{{ artists|join(' & ') }}</th>
				<td>{{ track.name }}</td>
				<td>{{ track.album.name }}</td>
				{# convert track duration (in ms) in a more readable style hh:mm:ss #}
				{# display hours only if >= 3600s #}
				{% set duration_s = (track.duration_ms / 1000)|number_format %}
				<td>{{ duration_s >= 3600 ? duration_s | date('H:i:s') : duration_s |date('i:s') }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
